:root {
  --color-bg: #ffffff;
  --color-fg: #1c1c1c;
  --color-fg-hover: #3d3d3d;
  --color-inactive: rgba(28, 28, 28, 0.40)
}

*,
*::before,
*::after {
  margin: 0;

  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  color: var(--color-fg);

  background: var(--color-bg);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
